.main_nav{
    background-color: var(--bg-color-main);
    padding: 1.1rem 1.4rem;
    box-shadow: 0rem 0.2rem 0.1rem -0.1rem rgba(0, 0, 0, 0.2), 0rem 0.1rem 0.1rem rgba(0, 0, 0, 0.14), 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.12);
}