
.table{
    background-color: #FFFFFF;
    padding: 0.8rem 0 0;
    border-radius: 0.4rem;
    filter: drop-shadow(0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.16));
    overflow-x: scroll;
}

.table__head{
    box-shadow: inset 0rem -0.1rem 0rem #E5E5E5;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.1rem;
    color: var(--text-color-main);
    min-width: 800px;
}

.table__head__row{
    padding: 0.8rem 1.6rem;
    margin: 0;
}

.table__body{
    min-width: 800px;
}

.table__body__row{
    padding: 1.6rem;
    margin: 0;
    vertical-align: middle;
}

.table__body__row:nth-of-type(odd){
    background-color: var(--bg-color-second);
}

.table__forsale span{
    background-color: var(--bg-color-main);
    color: var(--text-color-fourth);
    padding: 0.4rem 0.8rem;
    border-radius: 0.3rem;
    font-weight: 700;
    font-size: 0.9rem;
    line-height: 1.2rem;
    text-align: center;
}

.table__notforsale span {
    background-color: var(--bg-color-third);
}