@import "../../styles/common";

.lightBox {
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
  bottom: 0;

  text-align: center;
  transition: all 0.5s ease-in;

  .imgs {
    padding-top: 130px;
    position: relative;
    width: min-content !important;
  }
  .close {
    cursor: pointer;
    color: $white;
    display: inline-block;
    position: absolute;
    top: 130px;
    right: 10px;
  }
}

@keyframes animate {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100);
  }
}
