:root {
  /* background colors */
  --bg-color-main: #2419BE;
  --bg-color-second: #F5F5F5;
  --bg-color-third: #616161;
  --bg-color-fourth: #E5E5E5;
  --bg-color-fifth: #ffffff;

  /* text colors */
  --text-color-main: #000000;
  --text-color-second:#9E9E9E;
  --text-color-third: #616161;
  --text-color-fourth: #ffffff;
  --text-color-fifth: #0E1024;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 1.6rem;
  color: var(--text-color-main) ;
  background: var(--bg-color-second)
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5,h6,p{
  padding-bottom: 0;
  margin-bottom: 0;
}