@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
    background-color: #F5F5F5;
}

.visually {
    visibility: hidden;
}

.index {
    z-index: 99999;
}

.carousel-indicators [data-bs-target]{
    visibility: hidden;
}

.back{
    background-color: black;
    opacity: 80%;
}

.close{
    z-index: 99999;
    width: 40px;
    height: 40px ;
}
