.searchResult {
    position: absolute;
    width: 100%;
    z-index: 10;
    top: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: #242424;
    cursor: pointer;
}
.myButton{
    background-color: orange;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    position: relative;
    bottom: 1em;
    left: 1em;
}