@import "../../styles/common";

.title {
  padding-left: 8px;
  font-weight: 600;
}
.filterById {
  .input {
    box-shadow: $box-shadow;
    margin-top: 10px;
  }
}

.sortByUnit {
  @include flex($display: flex, $align: center);
  .select {
    border: none;
    background: transparent;
    font-weight: 600;
  }
  @media (max-width: 600px) {
    & {
      justify-content: flex-start;
      padding-top: 15px;
    }
  }
}
