.title {
  font-weight: 400;
  font-size: 24px;
  color: #000000;
  margin: 0 0 8px 0;
}

.breadcrumbs {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  background-color: #fff;
  color: #a3a1a1;
  font-size: 0.8rem;
  padding: 9px;
  margin-block-end: 20px;
}

.breadcrumbs a {
  text-decoration: underline;
  color: #616161;
}

.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.toolbar div span {
  font-size: 11px;
}
.sortContainer {
  display: flex;
}
.sortContainer span {
  margin-left: 4px;
}

.filterTitle {
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  margin-inline-end: 16px;
}
