@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: DM Sans, sans-serif;
}

.swiper-button-disabled {
  color: rgb(107 114 128 / var(--tw-text-opacity))
}

@font-face {
  font-family: 'DM Sans';
  src: url('/public/DM_Sans/DMSans-Bold.ttf');
  src: url('/public/DM_Sans/DMSans-BoldItalic.ttf');
  src: url('/public/DM_Sans/DMSans-Italic.ttf');
  src: url('/public/DM_Sans/DMSans-Medium.ttf');
  src: url('/public/DM_Sans/DMSans-MediumItalic.ttf');
  src: url('/public/DM_Sans/DMSans-Regular.ttf');
}