.top{
    background-color: #260cc4;
    height: 36px;
    width: 100%;
    line-height: 1.5;
    color: white;
    padding-left: 20px;
    font-size: 20px;
}

.right{
    position: absolute;
    bottom: 35px;
    right: 90px;
    font-weight: bold;
}

.space{
    height: 3px;
}